.radio {
    position: relative;
    @apply py-1 pl-8 pr-3;
  }
  
  .radio input {
    position: absolute;
    z-index: 2;
    top: 0;
    cursor: pointer;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  
  .radio span::before,
  .radio span::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  
    .radio span::before {
      @apply w-5 h-5 bg-gray-100 border;
      left: 0;
    }
  
    .radio span::after {
      @apply absolute block w-2 h-2 bg-transparent left-1.5 duration-300 transform scale-0 opacity-0 ease-in-out;
    }
  
    .radio input[type='radio']:checked ~ span::before {
      @apply bg-pink-400 border-pink-600;
    }
  
    .radio input[type='radio']:checked ~ span::after {
      @apply scale-100 -translate-y-1/2 opacity-100 top-1/2 bg-white/40;
    }
  