@tailwind base;
@tailwind components;
@tailwind utilities;

  .mobile-overline{
    font-weight: 700;
    font-size: 0.579rem;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }

@layer base {
  :root {
    --ruiPxPy: 8px 12px;
  }
}


  .rui-pXpY {
    padding: var(--ruiPxPy);
  }